**
!Dockerfile
!requirements-lock.txt
!pyproject.toml
!README.md
!LICENSE
!NOTICE.md
!src/
!src/**
src/**/__pycache__
src/**/*.pyc
src/*.egg-info
src/docling_desk/resources/static/frontend
!packages/
!packages/docling-azure-ocr/
!packages/docling-azure-ocr/**
packages/docling-azure-ocr/build
packages/docling-azure-ocr/dist
**/*.egg-info
!frontend/
!frontend/**
frontend/node_modules
frontend/dist
frontend/test-results
frontend/playwright-report
!docling/
!docling/pyproject.toml
!docling/LICENSE
!docling/README.md
!docling/docling/
!docling/docling/**
!docling/packages/
!docling/packages/**
**/__pycache__
**/*.pyc
**/.DS_Store
**/.env*
